{
    "server": {
        "host": "tunnel.qydev.com",
        "port": 4443,
        "bufsize": 1024
    },
    "client": [
        {
            "protocol": "http",
            "hostname": "www.xxx.com",
            "subdomain": "",
            "rport": 0,
            "lhost": "127.0.0.1",
            "lport": 80
        },
        {
            "protocol": "http",
            "hostname": "",
            "subdomain": "xxx",
            "rport": 0,
            "lhost": "127.0.0.1",
            "lport": 80
        },
        {
            "protocol": "tcp",
            "hostname": "",
            "subdomain": "",
            "rport": 55499,
            "lhost": "127.0.0.1",
            "lport": 22
        }
    ]
}
